In [16]:
import pandas as pd
import numpy as np
import requests

from bs4 import BeautifulSoup

req = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

soup = BeautifulSoup(req.content,'lxml')

table = soup.find_all('table')[0]

df = pd.read_html(str(table))

In [77]:
#neighborhood=pd.DataFrame(df[0])
for i in range(9):
    neighborhood[i]=neighborhood[i].str.replace('',"")

In [60]:
lis=[]
for i in range(9):
    lis+=list(neighborhood[i])

In [75]:
tor=pd.DataFrame({'Postal Code':lis})
tor.replace('A',np.nan,inplace=True)
tor.dropna(axis=0,inplace=True)
tor.reset_index(drop=True,inplace=True)

In [70]:
pos=np.array([])
pos=(tor['Postal Code'].str.extract('([A-Z][\d][A-Z])'))
bor=(tor['Postal Code']).str.extract('[A-Z][\d][A-Z]([A-Z][a-z\sA-Z]+[a-z]+)')
nei=tor['Postal Code'].str.extract('\((.+)\)$')

In [76]:
tor.insert(1,'Borough','a')
tor.insert(2,'Neighborhood','a')
tor['Postal Code']=pos
tor['Borough']=bor
tor['Neighborhood']=nei
tor['Neighborhood']=tor['Neighborhood'].str.replace('/',',')
tor.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern , Rouge
1         M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2         M1E  Scarborough       Guildwood , Morningside , West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [78]:
tor.shape

(103, 3)

In [83]:
ll=pd.read_csv('http://cocl.us/Geospatial_data')
ll.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [86]:
tor=tor.merge(ll,on='Postal Code')
tor.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476